.galeria::before{
	content: '';
	background-color: black;
	width: 1000px;
	height: 1px;
	margin: 0 auto;
}

.galeria{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 24px;
}

.titulo-g{
	width: 100%;
	margin: 8px 0px 8px 0px;
}

.img-galeria{
	background-color: rgb(216, 216, 216);
	width: 325px;
	aspect-ratio: 16/10;
	object-fit: cover;
	border: 1px #6D6D6D solid;
    overflow: hidden;
}

.img-galeria:hover{
	border: 1px #000000 solid;
}

