:root{
    --color-border: #A1A1A1;
    --color-buttons: #2E81E2;
}

#galeria{
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: 
		url(../img/background-gradient_compressed.png),
		url(../img/wave-haikei-small.jpg);
	background-repeat: no-repeat;
	background-position: top, bottom;
}

.galeria-card::before{
	content: '';
	background-color: black;
	width: 1000px;
	height: 1px;
	margin: 0 auto;
}

.galeria-card{
	width: 1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 24px;
}

.titulo-g{
	width: 100%;
	margin: 8px 0px 8px 0px;
}

.img-galeria{
	background-color: rgb(216, 216, 216);
	width: 325px;
	aspect-ratio: 16/10;
	object-fit: cover;
	border: 1px var(--color-border) solid;
    overflow: hidden;
}

.img-galeria:hover{
	border: 1px #000000 solid;
}

