*{
    margin: 0;
    padding: 0;
}



main{
    width: 1080px;
    height: 100%;
    margin: auto;
}

.disabled{
    display: none;
}

.disabled-nav{
    color: rgb(210, 210, 210) !important;
}

.font-p1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin: 24px 0px 16px 0px;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
}