*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-image: url(../img/background-gradient_compressed.png);
    background-repeat: no-repeat;
}

main{
    width: 1000px;
    height: 100%;
    margin: auto;
}

.disabled{
    display: none !important;
}

.disabled-nav{
    color: rgb(210, 210, 210) !important;
}

.font-p1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
}

.font-p2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: justify;
}

.titulo-1{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    margin: 24px 0px 16px 0px;
}

.sub-titulo-1{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
}

.sub-titulo-2{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
}

